#loading-overlay {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.loading-text {
    color: #17a2b8;
    font-weight: bold;
    font-family: sans-serif;
}